.navbar{
    background-color: aqua;
    width: 100%;
    height: 50px;
    color: aqua ;
}
.bg-body-tertiary{
    background-color: aliceblue;
}
.navbar-expand-lg{
    background-color: aliceblue;
}
.data-bs-theme{
    background-color: aliceblue;
    height: 500px;
}
.form-check-label{
    cursor: grab;
}
.form-check-input{
    cursor:-webkit-grab;
}
#aboutpage{
    margin-top: 50px;
    border-radius: 10px;
    
   
}
#aboutlast{
    margin-bottom: 100px;
}